h1{
    color: brown;
}
img{
    width: 400px;
}
#thirdDiv{
    height: 600px;
    width: 500px;
    background-color: rgb(155, 79, 29);
}
#spanId{
    font-size: 18px;
    margin: 50px;
}
.divClass{
    padding: 50px;
    border: 2px solid red;

}